@model Sammlerplattform.Models.ManufactoryDatabase.ManufactoryOperationParameterModel

@{
    ViewData["Title"] = "Hersteller erstellen";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<h1>Hersteller, optional mit Ort und Branche, hinzufügen</h1>

<hr />
<form asp-action="CreateManufactorySubmit" asp-controller="ManufactoryDatabase">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Manufactory.ManufactoryName" class="control-label"></label>*
        <input asp-for="Manufactory.ManufactoryName" class="form-control storeInput" required maxlength="100" />
        <span asp-validation-for="Manufactory.ManufactoryName" class="text-danger"></span>
    </div>
    <table class="table" id="cityTable">
        <thead>
            <tr>
                <th scope="col">Orts_ID</th>
                <th scope="col">Ort</th>
                <th scope="col">PLZ</th>
                <th scope="col">Beiname</th>
                <th scope="col">Geographischer Bezug</th>
                <th scope="col">Weitere Aktionen</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button id="cityModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#IsCityExistingModal">
        Ort hinzufügen
    </button>
    <div class="form-group">
        <label asp-for="ProductionFacility.ProductionFacilityName" class="control-label"></label>
        <input asp-for="ProductionFacility.ProductionFacilityName" class="form-control InputProductionFacility" />
        <span asp-validation-for="ProductionFacility.ProductionFacilityName" class="text-danger"></span>
    </div>
    <div class="form-group pt-2">
        <input id="submit-button" type="submit" value="Erstellen" class="btn btn-primary" onclick="ConcludeLists()" />
    </div>
</form>

<partial name="~/Views/CityDatabase/_SearchForCity.cshtml" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
