<h3 class="card-title cardAnalysistool">Analysetool</h3>
<h5>0,50€ + 0,001€ / Einheit*</h5>
<p class="card-text">1 Einheit entspricht 1 Seite. <strong>Testphase</strong> ist 2 Monate.</p>
<p class="card-text">Abgerechnet wird zum Monatsanfang, was im vorherigen Monat gebraucht wurde.</p>