@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer


@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert" aria-live="assertive">
        @Localizer["CookieConsent_Text"] <a asp-action="PrivacyImprint">Mehr zum Datenschutz</a>.
        <button type="button" class="accept-policy close btn btn-secondary" data-dismiss="alert" aria-label="@Localizer["Close"]" data-cookie-string="@cookieString" action="OnPostAcceptConsentAsync">
            <span aria-hidden="true">@Localizer["Accept"]</span>
        </button> 
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                $('#cookieConsent').hide();

                const url = window.location.href;
                if(url.includes("Login") || url.includes("Register")) {
                    document.location.reload();
                }
            }, false);
        })();
    </script>
}