<h3 class="card-title cardDiskspace">Datenbank</h3>
<h5 class="card-text">4€ Pauschal + 1€ / Einheit*</h5>
<p class="card-text">1 Einheit entspricht 500 Einträgen, darunter zählen Datenbank und Bilder. Ab den ersten 5000 Einträgen wird es gestaffelt billiger. <strong>Testphase</strong> ist 2 Monate.</p>
<p class="card-text">Abgerechnet wird zum Monatsanfang, was im vorherigen Monat gebraucht wurde.</p>