<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SammlerDB</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <partial name="_SettingsCommonHeader" />

    <div class="container page-wrap pt-2 pb-3">
        <main>
            <div class="row">
                <div class="col-md-8">
                    <partial name="_StatusMessage" for="@ViewData["StatusMessage"]" />
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <partial name="_SettingsCommonFooter" />

    <script src="~/lib/jquery/jQuery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/vis/vis-network.min.js" asp-append-version="true"></script>
    <script type="module" src="~/js/shared.min.js" asp-append-version="true"></script>
    <script type="module" src="~/js/pages/conceptualRelationship.min.js" asp-append-version="true"></script>
    <script type="module" src="~/js/searchByColumn/searchByColumn.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>