<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed accordionButton" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Detaillierte Preisgestaltung der Abonnements
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Es wird monatlich abgerechnet, immer zum 15. Des Monats.</p>
                <div class="container px-4 text-center">
                    <div class="row gx-5">
                        <div class="col">
                            <div class="p-3">
                                <h5>Datenbank</h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Einheit</th>
                                            <th scope="col">Datenbankeinträge</th>
                                            <th scope="col">Preis</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td><= 500</td>
                                            <td>5,00 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td><= 1000</td>
                                            <td>6,00 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td><= 1500</td>
                                            <td>7,00 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td><= 2000</td>
                                            <td>8,00 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">...</th>
                                            <td>...</td>
                                            <td>...</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">10</th>
                                            <td><= 5000</td>
                                            <td>14,00 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">11</th>
                                            <td><= 5500</td>
                                            <td>14,50 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">12</th>
                                            <td><= 6000</td>
                                            <td>15,00 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">13</th>
                                            <td><= 7000</td>
                                            <td>15,50 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">...</th>
                                            <td>...</td>
                                            <td>...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <h5>Analysetool</h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Einheit</th>
                                            <th scope="col">Preis</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>0,50 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>0,55 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>0,60€</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>0,65 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>0,70 €</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">...</th>
                                            <td>...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Vertragslaufzeit
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Bei beiden Abonnements gibt es eine 2 monatige Testphase. Diese endet zur Monatsmitte des Folgemonats.</p> 
                <p>Es gibt keine Mindestvertragslaufzeit. Der Vertrag ist monatlich kündbar und läuft nach Kündgung noch 1 Monat weiter</p>
                <p>Abgerechnet wird immer am 15. des Monats.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Zahlungsmittel
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Es stehen folgende Zahlungsmittel zur Verfügung
                <ul>
                    <li>
                        SEPA-Lastschrift
                    </li>
                    <li>
                        Kreditkarte
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                 Funktionsumfang
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    Die Sammlerdb umfasst eine Datenbank und ein Analysetool. Derzeit können folgende Sammlerstücke eingetragen werden 
                    <ul>
                        <li>Ansichtskarten / Postkarten</li>
                    </ul>
                </p>
                <p>
                    Die Datenbank kann dazu genutzt werden, um Sammlerstücke einzutragen, zu ändern und wieder zu löschen.
                    Bei der Erstellung des Eintrages sind 1 oder mehrere Bilder notwendig, abhängig vom Sammlerstück. Jedes Sammlerstück kann heruntergeladen werden.
                </p>
                <p>
                    Das Analysetool dient dem schnellen und präzisen Lesen und der Kategorisierung der Sammlerstücke.
                </p>
            </div>
        </div>
    </div>
</div>

<p>* Alle Preise beinhalten die MwSt</p>