<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand fs-2" asp-controller="Home" asp-action="Frontpage">SammlerDB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="UserSettings" asp-action="Profile">Profil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sammlungsgebiete
                        </a>
                        <ul class="dropdown-menu" style="background-color: #FFFFF0" id="appendCollectionAreasHere">
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dimensionen
                        </a>
                        <ul class="dropdown-menu" style="background-color: #FFFFF0">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SettlementDatabase" asp-action="Index"> Siedlungen verwalten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="BodyOfWaterDatabase" asp-action="Index">Gewässer verwalten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="BuildingDatabase" asp-action="Index">Gebäude verwalten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="FieldDatabase" asp-action="Index">Flur verwalten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="RegionDatabase" asp-action="Index">Region verwalten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ReliefDatabase" asp-action="Index">Relief verwalten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="TransportRouteDatabase" asp-action="Index">Transportroute verwalten</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="OrganizationDatabase" asp-action="Index">Organisation verwalten</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="IndividualDatabase" asp-action="Index">Persönlichkeiten verwalten</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="EraDatabase" asp-action="AdministerCollectionEra">Epochen verwalten</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CollectionAreaDatabase" asp-action="Index">Sammlungsgebietsaufbau</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>