<footer class="mt-3">
    <ul class="nav fixed-bottom">
        <li class="nav-item">
            <label class="nav-link"> &copy; 2024 - uffheba -</label>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="PrivacyImprint">Datenschutz & Impressum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="ReferenceList">Referenzliste</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Documentation">Dokumentation</a>
        </li>
    </ul>
</footer>