@model Sammlerplattform.Models.Account.RegisterViewModel

<form id="registerForm" asp-controller="Account" asp-action="Register" asp-route-returnUrl="/Account/Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating">
        <input asp-for="Email" placeholder="" class="form-control" autocomplete="E-Mail" aria-required="true" required/>
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating pt-1">
        <input asp-for="UserName" placeholder="" class="form-control" autocomplete="username" aria-required="true" required/>
        <label asp-for="UserName"></label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-floating pt-1">
        <input asp-for="Password" placeholder="" class="form-control" autocomplete="new-password" aria-required="true" required/>
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-floating pt-1">
        <input asp-for="ConfirmPassword" placeholder="" class="form-control" autocomplete="new-password" aria-required="true" required />
        <label asp-for="ConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-2">Registrieren</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
