@model Sammlerplattform.Models.Account.ResetPasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{    
    Layout = "_LayoutSettings";
    ViewData["Title"] = Localizer["Password_Reset"];
}

<div class="row">
    <div class="col-md-6">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <form asp-action="ResetPasswordSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Code" type="hidden" />
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="Email" aria-required="true" placeholder="name@example.com">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="w-100 btn btn-lg btn-primary">@Localizer["Reset"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
