@model Sammlerplattform.Models.PersonDatabase.Person

@{
    ViewData["Title"] = "Erstellen";
    Layout = "_LayoutSettings";
}

<h1>Persönlichkeit erstellen</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pseudonym" class="control-label"></label>
                <input asp-for="Pseudonym" class="form-control" />
                <span asp-validation-for="Pseudonym" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonDescription" class="control-label"></label>
                <input asp-for="PersonDescription" class="form-control" />
                <span asp-validation-for="PersonDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Signature" class="control-label"></label>
                <input asp-for="Signature" class="form-control" />
                <span asp-validation-for="Signature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthYear" class="control-label"></label>
                <input asp-for="BirthYear" class="form-control" />
                <span asp-validation-for="BirthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeathYear" class="control-label"></label>
                <input asp-for="DeathYear" class="form-control" />
                <span asp-validation-for="DeathYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Erstellen</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>

