bin/
obj/
tessdata_fast-main/
wwwroot/assets/
wwwroot/workspace/
wwwroot/dic/
wwwroot/images/
wwwroot/doc/
wwwroot/videos/
wwwroot/lib/bootstrap-5.3.3-dist/
/appsettings.json
.vs/
wwwroot/AnalyzedPics/
wwwroot/lib/bootstrap/
.editorconfig
Properties/
Web.FTPProfile.config
.config/dotnet-tools.json
web.config
jsonResult.json
*.json
wwwroot/lib/chosen/
wwwroot/FormattedImages/
wwwroot/lib/
