bin/
obj/
wwwroot/images/
wwwroot/doc/
.vs/
.editorconfig
Properties/
Web.FTPProfile.config
*.json
wwwroot/lib/
logs/
node_modules/
keys/
wwwroot/js/
Models/bge_m3_model_quantized.onnx
Models/bge_m3_tokenizer.onnx
BgeM3Embeddings/