bin/
obj/
wwwroot/dic/
wwwroot/images/
wwwroot/doc/
/appsettings.json
.vs/
wwwroot/lib/bootstrap/
.editorconfig
Properties/
Web.FTPProfile.config
.config/dotnet-tools.json
jsonResult.json
*.json
wwwroot/FormattedImages/
wwwroot/lib/
logs/infos_2025-12-23.log
logs/
node_modules/
keys/key-f8b3e0ea-fb83-4e8b-83a8-3871ece22bd2.xml
wwwroot/js/pages/backup.min.js
Models/bge_m3_model_quantized.onnx
Models/bge_m3_tokenizer.onnx
