@using Sammlerplattform.Models.ConceptualRelationshipDatabase
@model ConceptualRelationshipOperationParameterModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["ConceptRelation_Create"];
    Layout = "~/Views/Shared/_LayoutSettingsConceptualRelationship.cshtml";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="CreateSubmit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Concept.CollectionAreaID" class="form-control" type="hidden" value="@Model.Concept.CollectionAreaID">
    <div class="form-group mb-3">
        <label asp-for="Concept.ConceptName" class="control-label"></label>
        <input asp-for="Concept.ConceptName" class="form-control">
        <span asp-validation-for="Concept.ConceptName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Concept.Description" class="control-label"></label>
        <textarea asp-for="Concept.Description" rows="3" class="form-control"></textarea>
        <span asp-validation-for="Concept.Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Localizer["Relationship"]</th>
                    <th scope="col"><th>
                </tr>
            </thead>
            <tbody id="appendConceptHere">
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ConceptModal">
            Beziehung hinzufügen
        </button>
    </div>

    <hr />
    <button class="btn btn-success mt-2">@Localizer["Create"]</button>
</form>

<partial name="~/Views/ConceptualRelationshipDatabase/_ModalConcept.cshtml" />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}