@model Sammlerplattform.Models.CollectionItemDatabase.StateDatabase.State
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["State_Create"];
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="CreateSubmit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CollectionAreaID" class="form-control">
    <div class="form-group">
        <label asp-for="StateName" class="control-label"></label>
        <input asp-for="StateName" class="form-control" />
        <span asp-validation-for="StateName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SortingOrder" class="control-label"></label>
        <input asp-for="SortingOrder" class="form-control" />
        <span asp-validation-for="SortingOrder" class="text-danger"></span>
    </div>
    <div class="form-group pt-2">
        <button class="btn btn-primary">@Localizer["Create"]</button>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-CollectionArea_CollectionAreaID="@Model.CollectionAreaID">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

