@{
    bool? inAdministration = ViewData["inAdministration"] as bool?;
}

<div class="d-grid gap-2 m-2 sidenav-search-upperPart">
    <button type="button" class="btn-close" aria-label="Close" onclick="closeNav()"></button>
    <input type="submit" value="Suche starten" class="btn btn-primary hochladenSubmitSuche" onclick="setSessionStorageData()">
    <button class="btn btn-primary hochladenSpinnerSuche" disabled style="display: none;">
        <span class="spinner-border spinner-border-sm"></span>
        Suche wurde gestartet...
    </button>
</div>
<div class="divToTransmit container">
    <div class="row SbCDiv" id="propertyHolder_0">
        <div class="col input-group">
            <button id="removeColumn_0" type="button" class="btn btn-outline-danger removeColumn" style="display:none">-</button>
            <select name="columnName" id="columnName_0" class="form-select columnDropDown">
                <option value="" selected>Wähle Spalte</option>
                <option value="CollectionItemPotential_CollectionItemnameSynonymList_Name">Ziegelname</option>
                <option value="CollectionItemPotential_Usage">Nutzung</option>
                @if(inAdministration == true)
                {
                    <option value="FilingLocation">Ablageort</option>
                    <option value="Price">Preis</option>
                }
                <option value="Fake">Fälschung</option>
                <option value="Material">Material</option>
                @if (inAdministration == false)
                {
                    <option value="UsingIdentityUser_UserName">Username</option>
                }
                <option value="Condition">Zustand</option>
                <option value="ManufacturingYear">Herstellungsjahr</option>
            </select>
        </div>
        <div class="col inputArea" id="inputArea_0">
            <div id="divAdd_0" class="divAdd"></div>
        </div>
        <input type="hidden" value="1" class="total_input" id="total_input0">
    </div>
    <div id="propertyHolder-append"></div>
</div>
<div class="text-center mt-2">
    <div class="btn-group" role="group" aria-label="addCol reset">
        <button class="btn btn-primary addColumn" type="button">Spalte hinzufügen</button>
        <button class="btn btn-outline-primary searchReset" onclick="searchReset()" type="button">Zurücksetzen</button>
    </div>
</div>