@using Sammlerplattform.Models.CollectionItemDatabase
@model CollectionItemDisplayDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["Details"];
    string displayName = string.Empty;
    if (!string.IsNullOrEmpty(Model.UniqueName))
        displayName = Model.UniqueName;
    else if (!string.IsNullOrEmpty(Model.PersonalIdentificationNumber))
        displayName = Model.PersonalIdentificationNumber;
    else
        displayName = Model.CollectionItemEntityID.ToString();
}

<h1>@ViewData["Title"]: @displayName</h1>
<hr />
<partial name="/Views/CollectionItemDatabase/_Details.cshtml" model="Model" />

<div>
    <a asp-action="Frontpage" class="btn btn-secondary ms-2">@Localizer["BackToList"]</a>
</div>