@{
    ViewData["Title"] = "Widerrufsrecht";
}

<h3>@ViewData["Title"]</h3>
<p>Verbraucher haben das folgende Widerrufsrecht:</p>
<hr />

<h4>Widerrufsrecht</h4>
<p>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses.</p>
<p>Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Markus Rettenmeier, Frommannstr. 5, 04317 Leipzig, 015141970883, service@uffheba.software) mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief oder eine E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.</p>
<p>Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.</p>

<h4>Folgen des Widerrufs</h4>
<p>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.</p>
<p>Haben Sie verlangt, dass die Dienstleistungen während der Widerrufsfrist beginnen sollen, so haben Sie uns einen angemessenen Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem Sie uns von der Ausübung des Widerrufsrechts hinsichtlich dieses Vertrags unterrichten, bereits erbrachten Dienstleistungen im Vergleich zum Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen entspricht.</p>
<hr />
<p>Das Widerrufsrecht erlischt bei einem Vertrag zur Erbringung von Dienstleistungen unter anderem dann, wenn der Unternehmer die Dienstleistung vollständig erbracht hat und mit der Ausführung der Dienstleistung erst begonnen hat, nachdem der Verbraucher dazu seine ausdrückliche Zustimmung gegeben hat und gleichzeitig seine Kenntnis davon bestätigt hat, dass er sein Widerrufsrecht bei vollständiger Vertragserfüllung durch den Unternehmer verliert.</p>
<p>Das Widerrufsrecht besteht, soweit die Parteien nichts anderes vereinbart haben, nach § 312g Absatz 2 BGB unter anderem nicht bei Verträgen zur Erbringung von Dienstleistungen in den Bereichen Beherbergung zu anderen Zwecken als zu Wohnzwecken, Beförderung von Waren, Kraftfahrzeugvermietung, Lieferung von Speisen und Getränken sowie zur Erbringung weiterer Dienstleistungen im Zusammenhang mit Freizeitbetätigungen, wenn der Vertrag für die Erbringung einen spezifischen Termin oder Zeitraum vorsieht.</p>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Muster-Widerrufsformular</h4>
        <p>(Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.) </p>
        <p>An Markus Rettenmeier, Frommannstr. 5, 04317 Leipzig, 015141970883, service@uffheba.software:</p>
        <ul>
            <li>
                Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*)/die Erbringung der folgenden Dienstleistung (*)
                <p>............</p>
            </li>
            <li>
                Bestellt am (*)/erhalten am (*)
                <p>............</p>
            </li>
            <li>
                Name des/der Verbraucher(s)
                <p>............</p>
            </li>
            <li>
                Anschrift des/der Verbraucher(s)
                <p>............</p>
            </li>
            <li>
                Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)
                <p>............</p>
            </li>
            <li>
                Datum
                <p>............</p>
            </li>
        </ul>
        <p>*) Unzutreffendes streichen.</p>
    </div>
</div>