@{
    ViewData["Title"] = "Dokumentation";
}

<h2>@ViewData["Title"]</h2>
<hr />

<h3>Was wird benötigt?</h3>
<p>Nix, außer einem Browser.</p>

<h3>Home</h3>
<h5>Alles Rechtliche</h5>
<p>Impressum, AGB, Datenschutz und Widerrufsrecht finden Sie alles in der Fußleiste.</p>

<h5>Preisbildung</h5>
<p>
    Um alle Dienste von sammlerdb nutzen zu können reicht es nicht aus sich nur zu registrieren, sondern es müssen auch Abonnements abgeschlossen werden.
    Wie viel ein Abonnement kostet, wie lange deren Laufzeit ist oder was sonst noch interessant wäre, ist in der Kopfleiste unter "Preisbildung"" einzusehen.
</p>

<h5>Registrierung</h5>
<ol>
    <li>
        Wähle in der Kopfleiste "Login/Registrierung" -> "Als neuen Nutzer registrieren"
    </li>
    <li>
        Im auftretenden Fenster müssen folgende Punkte gefüllt sein
        <ul>
            <li>
                E-Mail
            </li>
            <li>
                Benutzername
            </li>
            <li>
                Passwort
            </li>
        </ul>
    </li>
    <li>
        Es wird im Anschluss eine Bestätigungs-Mail gesendet. Nachdem Sie sie bestätigt haben, kann das Profilbereich betreten werden.
        <br />Falls Sie keine E-Mail erhalten haben, dann gehen Sie zurück zu "Login/Registrierung" -> "E-Mail-Bestätigung erneut senden"
        <br />Falls Sie dann immer noch keine E-Mail erhalten haben, dann wenden Sie sich bitte an service@uffheba.software
    </li>
</ol>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Registrierung.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Registrierung und E-Mail Bestätigung erneut senden.</figcaption>
</figure>

<h3>Profil</h3>
<p4>Profildetails</p4>
<p>
    Im Profil können alle angegebenen Daten verwaltet und heruntergeladen werden, sowie das Profil gelöscht werden. Zudem gelangt man von dort zur Abo-Verwaltung für den Speicherplatz und Analysetool.
</p>

<h5>E-Mail ändern</h5>
<p>
    Das erste was einsehbar ist, ist die angegebene E-Mail Adresse. Diese kann nicht direkt im Profil, sondern muss in einem gesonderten Fenster geändert werden.
    <ol>
        <li>
            Darunter stehenden Knopf "E-Mail ändern" auswählen.
        </li>
        <li>
            In der Regel ist die alte E-Mail Adresse bereits angegeben, falls nicht, dann bitte angeben
        </li>
        <li>
            Neue E-Mail Adresse eingeben
        </li>
        <li>
            Knopf "Ändere E-Mail" drücken. Daraufhin sollte ein Banner mit der Mitteilung, dass die Änderung erfolgreich war erscheinen. Ansonsten eines mit einer Fehlermeldung
        </li>
        <li>
            Nach Bestätigung der neuen E-Mail, kann das Profil wieder genutzt werden.
        </li>
    </ol>
    Das Fenster kann verlassen werden, indem "Zurück zum Profil" gedrückt wird.
</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/E-Mail_ändern.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">E-Mail ändern</figcaption>
</figure>

<h5>Passwort ändern</h5>
<p>
    Das Passwort kann ebenfalls nur in einem gesonderten Fenster geändert werden.
    <ol>
        <li>
            Knopf "Passwort ändern" auswählen.
        </li>
        <li>
            Es müssen das alte Passwort, das neue Passwort und die Bestätigung des neuen Passwortes eingegeben werden
        </li>
        <li>
            Knopf "Passwort ändern" drücken. Daraufhin sollte ein Banner it der Mitteilung, dass die Änderung erfolgreich war erscheinen. Ansonsten eines mit einer Fehlermeldung
        </li>
    </ol>
    Das Fenster kann verlassen werden, indem "Zurück zum Profil" gedrückt wird.
</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Passwort ändern.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Passwort ändern</figcaption>
</figure>

<h5>Benutzername ändern</h5>
<p>
    Der Benutzername kann geändert werden
    <ol>
        <li>
            Feld, in welchem Benutzername steht, ändern
        </li>
        <li>
            Auf Knopf "Benutzername ändern" klicken
        </li>
    </ol>
    Anschließend sollte eine Nachricht kommen, dass der Name erfolgreich geändert wurde.
</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Benutzername ändern.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Benutzername ändern</figcaption>
</figure>

<h5>Accountdetails herunterladen</h5>
<p>Alle Accountdetails und persönlichen Daten, welche die Website speichert, kann hier heruntergeladen werden. Das Format ist eine JSON-Datei, welche auch mit einem einfachen Editor geöffnet werden kann.</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Accountdetails herunterladen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Accountdetails herunterladen</figcaption>
</figure>

<h5>Account löschen</h5>
<p>
    Das Profil kann gelöscht werden. Dabei muss nicht befürchtet werden, dass man es schnell aus versehen löscht, denn <strong>eine Löschung muss bestätigt werden</strong>.
    <ol>
        <li>
            Im Profil klicken Sie auf die rote Schaltfläche "Account löschen"
        </li>
        <li>
            Zuerst laden Sie ihre Einträge herunter, indem Sie auf "Alle Postkarten herunterladen" klicken. Zum weiteren Vorgehen s. "Umgang mit Zip- und YAML-Datei" 
        </li>
        <li>
            Anschließend geben Sie Ihr Passwort ein und bestätigen die Löschung.
        </li>
        <li>
            Sie erhalten eine Bestätigungs-E-Mail.
        </li>
    </ol>
    <i>Es ist beabsichtigt, dass mit der Löschung alle Einträge zu den Sammlerstücke heruntergeladen werden.</i>
</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Account_löschen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Account löschen</figcaption>
</figure>

<h4>Abonnements</h4>
<p>Die Abonnements können verwaltet und deren Kosten eingesehen werden. Der Knopf "Abonnements verwalten" führt zu den einzelnen Abonnements. Darunter ist die derzeitige Beitragshöhe einsehbar. Diese wird abgebucht, falls die Testphase vorbei ist, zur Mitte des Monats.</p>

<h5>Abonnements verwalten</h5>
<p>
    Mit der Schaltfläche "Abonnements verwalten" gelangt man zu den Abos. Hier können alle notwendigen Schritte zur Verwaltung der Abos per Knopfdruck durchgeführt werden
    <ul>
        <li>
            Abonnement abschließen
        </li>
        <li>
            Abschluss widerrufen
        </li>
        <li>
            Abonnement kündigen
        </li>
        <li>
            Kündigung widerrufen
        </li>
    </ul>
    Es stehen folgende Abos zur Auswahl
    <ul>
        <li>
            Speicherplatz: Damit erhält man Zugang zu "Postkarten verwalten". Dort können die Einträge erstellt, bearbeitet und gelöscht werden. Wenn zudem "Analysetool" abonniert wurde, dann können die Sammlerstücke auch automatisch erstellt werden.
        </li>
        <li>
            Analysetool: Falls man nur Analysetool ohne Speicherplatz ausgewählt hat, dann steht in der Kopfleiste die Auswahl "Postkarte analysieren" zur Verfügung. Dort wird nur die Analyse durchgeführt und das Ergebnis kann anschließend heruntergeladen werden. Wenn es mit dem Speicherplatz abonniert wurde, dann kann das Ergebnis in der Datenbank gespeichert werden.
        </li>
    </ul>
    Ablauf ist wie folgt:
    <ol>
        <li>
            Abonnement abschließen
        </li>
        <li>
            Weitergeleitet zum Zahlungsdienstleister kann zwischen
            <ul>
                <li>
                    Kreditkarte
                </li>
                <li>
                    SEPA-Lastschrift
                </li>
            </ul>
            gewählt werden
        </li>
        <li>
            Nach der Bestätigung "Kostenpflichtig abonnieren" wird man automatisch ausgeloggt. Da mit einem erneuten Log-in die Abonnements erst greifen.
        </li>
    </ol>
    Bei jedem Vorgang wird eine E-Mail mit einer Vorgangsbestätigung versandt.
</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Abo abschließen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Abo abschließen</figcaption>
</figure>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Abo widerrufen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Abo widerrufen</figcaption>
</figure>

<h3>Postkarten verwalten</h3>
<p>Diese Schaltfläche gibt es nur, wenn das <strong>Abonnement "Speicherplatz"</strong> abgeschlossen wurde. Hier können alle Postkarten erstellt, geändert und gelöscht werden. <i>Später soll es auch möglich sein, alle Einträge herunterzuladen.</i></p>

<h4>Einträge erstellen</h4>
<h5>Automatischen Eintrag erstellen</h5>
<p>
    Diese Schaltfläche gibt es nur, wenn das <strong>Abonnement "Analysetool"</strong> abgeschlossen wurde. Hier kann ein Eintrag anhand des Analysetools autoamtisch erstellt werden. Ablauf ist wie folgt
    <ol>
        <li>Knopf "Automatischen Eintrag erstellen" drücken</li>
        <li>
            Das auftretende Fenster benötigt sowohl die Vorder- als auch die Rückseite. Bei Klick auf "Bilder hochladen" wird die Analyse gestartet.
        </li>
        <li>
            Anschließend landet man im Ergebnisfenster. Dort sind oben die zuvor hochgeladenen Bilder zu sehen und darunter die änderbaren Ergebnisfelder. Derzeit werden ausschließlich folgende Merkmale ausgegeben:
            <ul>
                <
                <li>
                    Ort mit Beinamen
                </li>
                <li>
                    Verlag mit NAme, Ort und Ortsbeiname
                </li>
                <li>
                    Künstler
                </li>
                <li>
                    Adresse mit Name, Straße, Hausnummer, Ort
                </li>
                <li>
                    Text
                </li>
            </ul>
            Mit dem Druck auf "Akzeptieren und erstellen" wird ein Eintrag mit den Analyseergebnissen erstellt.
        </li>
        <li>
            Im Fenster "Eintrag ändern" können weiter Merkmale eingetragen werden. Sie hierzu Eintrag ändern. Dieses Fenster kann einfach mit "Zurück zur Liste" wieder verlassen werden.
        </li>
    </ol>
</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Automatischen Eintrag erstellen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Automatischen Eintrag erstellen</figcaption>
</figure>

<h5>Manuellen Eintrag erstellen</h5>
<p>
    Einträge können manuell erstellt werden. Dazu gehen Sie auf die Schaltfläche "Manuellen Eintrage erstellen".
    <br />
    Bei jedem Eintrag muss die Vorderseite und Rückseite der Ansichtskarte hochgeladen werden. Alle anderen Felder müssen nicht gefüllt werden.
    <br />
    Fast alle Felder können entsprechend dem Typ (nummerisch, alphanumerisch, Datum) frei gefüllt werden, außer folgenden Feldern
    <ul>
        <li>
            Ort
        </li>
        <li>
            Ära
        </li>
        <li>
            Künstler
        </li>
        <li>
            Verlag
        </li>
        <li>
            Landschaft
        </li>
    </ul>
    Der Grund dafür ist, dass damit die Einzigartigkeit gewährt sein soll und damit keine Schreibfehler vorkommen. Falls es eine Ausprägung der einzigartigen Feld noch nicht gibt, dann müssen sie extra erfasst werden.
    <br />
    Der Vorgang ist wie folgt
    <ol>
        <li>
            "Manuellen Eintrag erstellen auswählen"
        </li>
        <li>
            Bilder hochladen
        </li>
        <li>
            Eingaben machen
        </li>
        <li>
            Ganz unten "Erstellen" auswählen, damit Eintrag erstellt wird
        </li>
    </ol>
</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Manuellen Eintrag erstellen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Manuellen Eintrag erstellen</figcaption>
</figure>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Künstler Autor hinzufügen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Künstler/Autor erstellen</figcaption>
</figure>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Ära hinzufügen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Ära erstellen</figcaption>
</figure>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Verlag hinzufügen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Verlag erstellen</figcaption>
</figure>

<h5>Eintrag ändern</h5>
<p>Um Einträge zu ändern, geht man zur jeweiligen Zeile der angezeigten Karte und klickt auf "Ändern". Dort sind alle Felder, die bei der Erstellung änderbar waren auch dort änderbar.</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Eintrag ändern- Ort erstellen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Eintrag ändern & Ort erstellen</figcaption>
</figure>

<h5>Eintrag/Einträge herunterladen</h5>
<p>Wenn Einträge heruntergeladen wird, dann erhält man immer eine Zip-Datei. Zum weiteren Vorgehen s. "Umgang mit Zip- und YAML-Datei"</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Umgang mit Heruntergeladenen Einträgen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Eintrag/ Einträge herunterladen</figcaption>
</figure>

<h5>Eintrag löschen</h5>
<p>Um Einträge zu ändern, geht man zur jeweiligen Zeile der angezeigten Karte und klickt auf "Löschen". <strong>Dieser Eintrag ist daraufhin unwiderruflich gelöscht.</strong></p>

<h4>Suche</h4>
<p>
    Die Verwaltung kann durchsucht werden. Dazu geht man wie folgt vor
    <ol>
        <li>
            Man klickt oben auf das Symbol
            <i class="bi bi-search"></i>
        </li>
        <li>
            Daraufhin öffnet sich rechts eine Leiste. Ganz oben kann die Suche gestartet werden. darunter gibt es die Eingabefelder. Darunter können mehr Felder hinzugefügt werden oder die Suche zurückgesetzt werden.
            <br />
            Derzeit kann nur nach folgenden Merkmalen gesucht werden.
            <ul>
                <li>
                    Ort
                </li>
                <li>
                    PLZ
                </li>
            </ul>
        </li>
        <li>
            Nachdem die Suchbegriffe eingegeben wurden, kann die Suche mit Klick auf "Suche starten" gestartet werden.
        </li>
        <li>
            Wenn später alles wieder angezeigt werden soll, dann muss die Suchleiste wieder geöffnet werden. "Zurücksetzen" muss ausgewählt werden und die Suche nochmal gestartet werden.
        </li>
    </ol>
</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Suche.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Suche</figcaption>
</figure>


<h3>Umgang mit Zip- und YAML-Datei</h3>
<p>
    Heruntergeladene Einträge stehen als Zip-Datei zur Verfügung. Darin enthalten sind Bilder und eine YAML-Datei. Folgend wird der Umgang damit geschrieben
</p>

<h4>Erhalt und Umgang mit der Zip-Datei</h4>
<p>
    Nachdem Sie auf den Herunterladen Knopf gedrückt haben, gehen Sie folgende Schritte durch
    <ol>
        <li>
            Es ploppt ein Fenster auf in welchem Sie die Datei öffnene oder Speichern können. <strong>Wählen Sie "Datei speichern"</strong>
        </li>
        <li>
            Gehen Sie in ihren Downloadordner und öffnen Sie die Zip-Datei "Download_<i>Hash-Wert</i>". Gehen Sie zur oberen Leiste des Fensters udn klicken Sie auf "Alles extrahieren"
        </li>
        <li>
            Im extrahierten neue Ordner sind die Bilder zu den Sammlerstücken und eine YAML-Datei
        </li>
        <li>
            Die YAML-Datei am besten mit Notepad++ öffnen. Notepad++ ist ein kostenlose Software und kann hier heruntergeladen werden <a href="https://notepad-plus-plus.org/downloads/">https://notepad-plus-plus.org/downloads/</a>
        </li>
    </ol>
</p>
<figure class="figure">
    <video controls preload="none" poster="/images/istockphoto-1340309186-612x612.jpg" width="300">
        <source src="/videos/Umgang mit Heruntergeladenen Einträgen.mp4" type="video/mp4" />
    </video>
    <figcaption class="figure-caption">Umgang mit Heruntergeladenen Einträgen</figcaption>
</figure>

<h4>Umgang mit der YAML Datei</h4>
<p>
    Eine YAML-Datei ist ein NAchfolger der XML-Datei. Sie ist leichter lesbar sowie flexibler und wurde deshalb für die Ausgabe gewählt
    <ul>
        <li>
            Jeder Eintrag beginnt mit dem Kommentar "# ----------Start----------" und endet mit dem Kommentar  "# ----------End----------"
        </li>
        <li>
            Als erstes ist die Zuordnung des Eintrages zum Bild sichtbar. Dabei enthält "ProductPicture_Id" die Nummer der heruntergeladenen Scans.
        </li>
        <li>
            Alle weiteren Merkmale und ihre Werte sind in den Unterpunkten einsehbar.
        </li>
    </ul>
</p>
