@model List<Sammlerplattform.Models.UserSettings.UserWithPhoto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Startseite";
}

<h4>Über diese Plattform</h4>
<hr />

<p>Hallo Sammler,</p>
<p>
    diese Plattform soll dazu dienen Ihre Sammlung zu verwalten. Derzeit werden nur Ansichtskarten abgedeckt.
    Daher machen Sie mit und melden Sie sich zu den folgenden oder mehr Gedanken!
    <ul>
        <li>Welche Merkmale sind bei Briefmarken und Stempeln wichtig?</li>
        <li>Welche Merkmale interessieren Sie?</li>
        <li>Sollen mehr oder andere Funktionen hinzugefügt werden?</li>
        <li>...</li>
    </ul> 
</p>
<p>Das Analysetool wird derzeit noch entwickelt und befindet sich erst in seinen Grundzügen. Wir arbeiten stetig an seiner Verbesserung.</p>
<p>Wenden Sie sich bei allen Anliegen bitte an <strong>service@uffheba.software</strong></p>
<hr />

