@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

<h2 class="ImprintPartial">@Localizer["Imprint"]</h2>
<address>
    @Localizer["Author_Contact"]:
    <a href="mailto:markus.rettenmeier@web.de">markus.rettenmeier@web.de</a>.<br />
    @Localizer["Or"]:<br />
    Markus Rettenmeier<br />
    Gotthilf-Dorn-Str. 25<br />
    D-89143 Blaubeuren
</address>
