@{
    ViewData["Title"] = "Preisbildung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<hr />

<p>Besonders das Analysetool zu entwickeln, bedarf langer Ausdauer. Um diese aufrechterhalten zu können, wäre es gut sich nur darum kümmern zu können. Zudem wollen wir es werbefrei halten, damit die persönlichen Daten geschützt bleiben.</p>
<p>Damit dies möglich ist, setzen wir die Preise so hoch. Wir hoffen sie stoßen auf Akzeptanz.</p>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
            <img src="~/images/RoboterLupe.jpg" height="250px" class="card-img-top" alt="Analysetool">
            <div class="card-body">
                <partial name="~/Views/Shared/_AnalysistoolPricingDescription.cshtml" />
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
            <img src="~/images/istockphoto-157334670-612x612.jpg" height="250px" class="card-img-top" alt="datenbank">
            <div class="card-body">
                <partial name="~/Views/Shared/_DiskSpacePricingDescription.cshtml" />
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<partial name="~/Views/Shared/_PricingDescription.cshtml" />