@{
    ViewData["Title"] = "Datenschutz und Impressum";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="m-2">
    <partial name="~/Views/Home/Imprint.cshtml">
</div>
<hr />
<div class="m-2">
    <partial name="~/Views/Home/Privacy.cshtml">
</div>


