@{
    ViewData["Title"] = "Referenzliste";
}

<h3>@ViewData["Title"] </h3>
<hr />

<h4>Literatur</h4>
<h5>Ansichtskarten</h5>
<p>Formery, Günter; Das große Lexikon der Ansichtskarten; Phil*Creativ Gmbh, Verlag & Agentur; 2019</p>
<p>Willoughby, Martin; Die Geschichte der Postkarte; Karl Müller Verlag, Erlangen</p>
<p>Till, Wolfgang; Alte Postkarten; 1994; Verlagsgruppe Weltbild GmbH</p>

@* <p>MICHEL - vom Bund philatelistischer Prüfer e.V. empfohlen (2018) Deutschland 2018/2019 (105. Auflage), Schwaneberger Verlag GmbH</p> *@
@* <p>Goedicke, Lothar und Werdermann, Volkmar (2016, unveranderter Nachdruck 2021) Die Bezeichnung der Poststempelformen: Eine Einführung in die stempelkundliche Terminologie nach Hans-Joachim Anderson (Band 193), Griebsch und Rochol</p> *@

@* <h5>Ziegel</h5> *@

<h4>Bilder</h4>
Roboter mit Lupe: https://images.app.goo.gl/71Raj1aFN3EUKEYQ8
Datenbank: https://images.app.goo.gl/ZU8CHMM3EqXxmA52A
Erklärungsvideos: https://images.app.goo.gl/WSLjKz2C2PRoM98Q6