@{
    ViewData["Title"] = "AGB";
}

<h3>@ViewData["Title"]</h3>
<hr />

<ol>
    <li>
        Anwendungsbereich, widersprechende AGB
        <ol>
            <li>
                Diese allgemeinen Geschäftsbedingungen (nachstehend als <strong>„Allgemeine Geschäftsbedingungen“</strong> oder <strong>„AGB“</strong> bezeichnet) regeln das Vertragsverhältnis zwischen dem Kunden (nachstehend <strong>„Kunde“</strong> oder <strong>„Sie“</strong> bzw. <strong>„Ihnen“</strong>) und Markus Rettenmeier, Frommannstr. 5, 04317 Leipzig (nachstehend als <strong>„wir“</strong> bzw. <strong>„uns“</strong> bezeichnet) im Hinblick auf die Online-Nutzung unserer interaktiven Sammlerstückverwaltungs-Software zur Verwaltung von Sammlungsstücke mit Analysetool (nachstehend als <strong>„Software“</strong> bezeichnet) über die Website sammlerdb.de als Software-as-a-Service (nachstehend als <strong>„SaaS“</strong> bezeichnet). 
            </li>
            <li>
                Die vorliegenden allgemeinen Geschäftsbedingungen gelten ausschließlich. Allgemeine Geschäftsbedingungen des Kunden gelten nur, wenn und soweit dies ausdrücklich vereinbart wurde.
            </li>
        </ol>
    </li>
    <li>
        Besonderheiten bei Online-Bestellung
        <ol>
            <li>
                Sofern Ihre Bestellung nicht im Wege individueller Kommunikation, sondern online, also direkt auf unserer Website erfolgt, gelten folgende Besonderheiten:
                <ol>
                    <li>
                        Erst die Bestellung der Dienstleistung durch Sie ist ein bindendes Angebot zum Abschluss eines entsprechenden Vertrages. Um die Bestellung vorzunehmen, durchlaufen Sie den Bestellprozess auf der Website und tragen die dort abgefragten Angaben ein. Vor Absendung der Bestellung haben Sie die Möglichkeit, sämtliche Bestelldaten noch einmal zu überprüfen und ggf. zu korrigieren. Erst mit der Absendung der Bestellung geben Sie an uns ein verbindliches Angebot zum Abschluss eines Vertrages ab.
                    </li>
                    <li>
                        Wir können Ihr Angebot innerhalb von fünf Tagen durch
                        <ul>
                            <li>
                                Zusendung einer Auftragsbestätigung per Post, Fax oder E-Mail, oder
                            </li>
                            <li>
                                Aufforderung zur Zahlung
                            </li>
                        </ul>
                        annehmen; maßgeblich für die Einhaltung der Frist ist jeweils der Zeitpunkt des Zugangs unserer Auftragsbestätigung oder Zahlungsaufforderung bei Ihnen.
                    </li>
                    <li>
                        Wir speichern die Vertragsbestimmungen, also die Bestelldaten bzw. und die vorliegenden AGB. Sie können die Vertragsbestimmungen Ihrerseits ausdrucken oder speichern, indem Sie jeweils die übliche Funktionalität Ihres Browsers nutzen (dort meist „Drucken“ bzw. "Datei" > "Speichern unter"). Die Buchungsdaten bzw. Bestelldaten bzw. Registrierungsdaten sind in der Übersicht enthalten, die im letzten Schritt der Buchung bzw. Bestellung bzw. Registrierung angezeigt wird.
                    </li>
                    <li>
                        Vertragssprache ist Deutsch.
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        Softwareüberlassung
        <ol>
            <li>
                Wir stellen dem Kunden für die Dauer dieses Vertrages die Software über das Internet entgeltlich zur Verfügung. Zu diesem Zweck halten wir die Software auf einem Server bereit, der über das Internet für den Kunden erreichbar ist.
            </li>
            <li>
                Der Funktionsumfang der Software ergibt sich aus der aktuellen Leistungsbeschreibung auf unserer Web-Site unter sammlerdb.de/Home/Pricing
            </li>
            <li>
                Sofern nichts Abweichendes vereinbart ist, überlassen wir dem Kunden die Software am Übergabepunkt mit einer Verfügbarkeit von 98,5% zur Nutzung. Die Verfügbarkeit berechnet sich auf der Grundlage der im Vertragszeitraum auf den jeweiligen Kalendermonat entfallenden Zeit abzüglich der Wartungszeiten. Wir sind berechtigt, in der Zeit von 20 Uhr bis 8 Uhr und/oder am Wochenende für insgesamt fünf Stunden im Kalendermonat Wartungsarbeiten durchzuführen. Während der Wartungsarbeiten stehen die vorgenannten Leistungen nicht zur Verfügung.
            </li>
        </ol>
    </li>
    <li>
        Nutzungsrechte an der Software
        <ol>
            <li>
                Wir räumen dem Kunden das nicht ausschließliche und nicht übertragbare Recht ein, die Software während der Dauer des Vertrages im Rahmen der SaaS-Dienste bestimmungsgemäß zu nutzen.
            </li>
            <li>
                Der Kunde darf die Software nur bearbeiten, soweit dies durch die bestimmungsgemäße Benutzung der Software laut jeweils aktueller Leistungsbeschreibung abgedeckt ist.
            </li>
            <li>
                Der Kunde darf die Software nur vervielfältigen, soweit dies durch die bestimmungsgemäße Benutzung der Software laut jeweils aktueller Leistungsbeschreibung abgedeckt ist. Zur notwendigen Vervielfältigung zählt das Laden der Software in den Arbeitsspeicher auf unserem Server, nicht jedoch die auch nur vorübergehende Installation oder das Speichern der Software auf Datenträgern (wie etwa Festplatten o.ä.) der vom Kunden eingesetzten Hardware.
            </li>
            <li>
                Der Kunde ist berechtigt, die Software anderen Haushaltsmitgliedern zur Nutzung im Rahmen der hier vorgesehenen Nutzungsrechtseinräumung zu überlassen. Darüber hinaus ist der Kunde nicht berechtigt, die Software Dritten entgeltlich oder unentgeltlich zur Nutzung zur Verfügung zu stellen. Eine Weitervermietung der Software wird dem Kunden somit ausdrücklich nicht gestattet.
            </li>
        </ol>
    </li>
    <li>
        Dokumentation und Support
        <ol>
            <li>
                Wir stellen dem Kunden online eine Dokumentation der Software zur Verfügung, in der eine Benutzeranleitung enthalten ist.
            </li>
            <li>
                Einen Support stellen wir dem Kunden nur dann zur Verfügung, wenn dies in der Leistungsbeschreibung vorgesehen ist.
            </li>
        </ol>
    </li>
    <li>
        Datenspeicherung, Datensicherung
        <ol>
            <li>
                Der Kunde hat die Möglichkeit, auf unseren Servern Daten abzulegen (und/oder von Nutzern der App ablegen zu lassen), auf die er im Zusammenhang mit der Nutzung des Dienstes zugreifen kann. Wir schulden lediglich die Zurverfügungstellung von Speicherplatz zur Nutzung durch den Kunden. Uns treffen hinsichtlich der vom Kunden übermittelten und verarbeiteten Daten keine Verwahrungs- oder Obhutspflichten. Für die Beachtung der handels- und steuerrechtlichen Aufbewahrungsfristen ist der Kunde verantwortlich.
            </li>
            <li>
                Wir werden mindestens eine arbeitstägliche Sicherung der Daten des Kunden auf dem Datenserver durchführen.
            </li>
            <li>
                Dem Kunden obliegt es, sämtliche Daten, die er auf unseren Servern ablegt und/oder von anderen Nutzern des SaaS ablegen lässt, zusätzlich auch auf eigenen Ressourcen vorhalten, so dass sie jederzeit wieder für die bestimmungsgemäßen Zwecke reproduziert und genutzt werden können.
            </li>
        </ol>
    </li>
    <li>
        Datenexport / Datenherausgabe
        <ol>
            <li>
                Der Kunde hat jederzeit die Möglichkeit, seine Daten über die Software von unseren Servern zu exportieren / kann jederzeit die Herausgabe seiner Daten verlangen.
            </li>
            <li>
                Nach Beendigung des Vertragsverhältnisses werden wir dem Kunden sämtliche Daten, die auf dem ihm zugewiesenen Speicherplatz abgelegt sind, herausgeben.
            </li>
            <li>
                Die Herausgabe der Daten des Kunden erfolgt entweder durch Übergabe von Datenträgern oder durch Übersendung über ein Datennetz. Der Kunde hat keinen Anspruch darauf, auch die zur Verwendung der Daten geeignete Software zu erhalten.
            </li>
            <li>
                Die Vorschriften über die Datenherausgabe im Falle einer Vertragsbeendigung gemäß § 327 p Absatz 3 BGB bleiben unberührt.
            </li>
        </ol>
    </li>
    <li>
        Zugriffsberechtigungen
        <ol>
            <li>
                Der Kunde erhält für die Verwaltung der Software eine Zugriffsberechtigung, bestehend aus einem Benutzerkennwort und einem Passwort. Benutzerkennwort und Passwort darf der Kunde nur den von ihm gemäß Ziffer 4.4. berechtigten Nutzern mitteilen. Der Kunde hat diese Nutzer zur vertraulichen Behandlung dieser Zugangsdaten verpflichten. Im Übrigen sind die Zugangsdaten geheim zu halten.
            </li>
        </ol>
    </li>
    <li>
        Mitwirkungsleistungen bzw. -obliegenheiten des Kunden
        <ol>
            <li>
                Dem Kunden obliegt es, die Daten, die er auf unseren Servern ablegt bzw. ablegen lässt, regelmäßig nach näherer Maßgabe von Ziffer 6.3. zu sichern.
            </li>
            <li>
                Der Kunde verpflichtet sich, auf dem zur Verfügung gestellten Speicherplatz keine rechtswidrigen, die Gesetze oder behördliche Auflagen oder Rechte Dritter verletzenden Inhalte abzulegen bzw. ablegen zu lassen. Insbesondere stellt der Kunde sicher, dass die angebotsgegenständliche Datenverarbeitung, ggf. insbesondere auch die Machine-Learning-Auswertung, nicht gegen gewerbliche Schutzrechte Dritter oder Rechte Dritter an geistigem Eigentum verstoßen.
            </li>
            <li>
                Der Kunde ist verpflichtet, den unbefugten Zugriff Dritter auf die geschützten Bereiche der Software durch geeignete Vorkehrungen zu verhindern. Zu diesem Zwecke wird der Kunde, soweit erforderlich, andere von ihm berechtigte Nutzer auf die Einhaltung des Urheberrechts hinweisen.
            </li>
        </ol>
    </li>
    <li>
        Vergütung, Rechnungsstellung
        <ol>
            <li>
                Der Kunde zahlt für die von ihm gewählten Leistungen die Entgelte gemäß unserer bei Vertragsschluss gültigen Preisliste oder sonstigen Preisaufstellung.
            </li>
        </ol>
    </li>
    <li>
        Vertragslaufzeit
        <ol>
            <li>
                Der Vertrag läuft auf unbestimmte Zeit und kann von jeder der Parteien jederzeit unter Einhaltung einer Frist von einem Monat gekündigt werden.
            </li>
            <li>
                Das Recht zur außerordentlichen Kündigung aus wichtigem Grund bleibt unberührt.
            </li>
        </ol>
    </li>
    <li>
        Mängelhaftung
        <ol>
            <li>
                Für unsere Mängelhaftung gelten die gesetzlichen Bestimmungen.
            </li>
        </ol>
    </li>
    <li>
        Änderungsvorbehalte
        <ol>
            <li>
                Als triftige Gründe für Änderungen der Software und/oder des SaaS unter den weiteren Voraussetzungen und Maßgaben des § 327r BGB gelten:
            </li>
            <li>
                Erforderlichkeit zur Anpassung an eine neue technische Umgebung oder an eine erhöhte Nutzerzahl oder aus anderen wichtigen betriebstechnischen Gründen
            </li>
            <li>
                Erweiterung des Funktionsumfangs
            </li>
            <li>
                Verbesserung der Usability
            </li>
        </ol>
    </li>
    <li>
        Haftungsausschlüsse und –begrenzungen
        <ol>
            <li>
                Für eine Haftung von uns auf Schadensersatz gelten unbeschadet der sonstigen gesetzlichen Anspruchsvoraussetzungen die folgenden Haftungsausschlüsse und –begrenzungen:
            </li>
            <li>
                <ol>
                    <li>
                        Wir haften, sofern uns Vorsatz oder grobe Fahrlässigkeit zur Last fällt. Für einfache Fahrlässigkeit haften wir nur bei Verletzung einer Pflicht, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf deren Einhaltung der Vertragspartner regelmäßig vertrauen darf (sogenannte Kardinalpflicht). Im Übrigen ist eine Schadensersatzhaftung für Schäden aller Art, gleich aufgrund welcher Anspruchsgrundlage, einschließlich der Haftung für Verschulden bei Vertragsschluss, ausgeschlossen.
                    </li>
                    <li>
                        Sofern wir gemäß Ziffer 13.1.1. für einfache Fahrlässigkeit haften, ist unsere Haftung auf den Schaden begrenzt, mit dessen Entstehen wir nach den bei Vertragsschluss bekannten Umständen typischerweise rechnen mussten.
                    </li>
                    <li>
                        Vorstehende Haftungsausschlüsse und –beschränkungen gelten weder, wenn wir eine Garantie für die Beschaffenheit der Waren oder Dienstleistungen übernommen haben, noch für Schäden, die nach dem Produkthaftungsgesetz zu ersetzen sind, noch für Schäden an Leben, Körper oder Gesundheit noch für gesetzliche Ansprüche.
                    </li>
                    <li>
                        Vorstehende Haftungsausschlüsse und –begrenzungen gelten auch zugunsten unserer Mitarbeiter, Erfüllungsgehilfen und sonstiger Dritter, deren wir uns zur Vertragserfüllung bedienen.
                    </li>
                </ol>  
            </li>
        </ol>
    </li>
    <li>
        Informationen gemäß Art. 14 Digital Services Act
    </li>
    <li>
        Rechtswahl, Gerichtsstand
        <ol>
            <li>
                Es gilt das Recht der Bundesrepublik Deutschland. Das UN-Kaufrecht ist ausgeschlossen. Gegenüber einem Verbraucher gilt diese Rechtswahl nur insoweit, als dadurch keine zwingenden gesetzlichen Bestimmungen des Staates, in dem er seinen Wohnsitz oder gewöhnlichen Aufenthalt hat, eingeschränkt werden.
            </li>
            <li>
                Gerichtsstand im Verkehr mit Kaufleuten, juristischen Personen des öffentlichen Rechts oder öffentlich-rechtlichen Sondervermögen ist der Sitz unseres Unternehmens. Wir sind jedoch nach unserer Wahl berechtigt, am Sitz des Kunden zu klagen.
            </li>
        </ol>
    </li>
</ol>
