<div class="modal fade" id="IsCityExistingModal" tabindex="-1" aria-labelledby="IsCityExistingModal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Wähle die Stadt aus</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ui-front modalBodyExistingPostcardPotentials">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="input-group">
                            <input type="text" class="form-control InputOeconymSearch" placeholder="Ort" aria-label="Ort" />
                            <button class="btn btn-primary ExistingCitiesSearchSubmit" type="button">Suchen</button>
                        </div>
                    </div>
                </div>
                <table class="table" id="citySearchResultTable">
                    <thead>
                        <tr>
                            <th scope="col">Orts_ID</th>
                            <th scope="col">Ort</th>
                            <th scope="col">PLZ</th>
                            <th scope="col">Beiname</th>
                            <th scope="col">Geographischer Bezug</th>
                            <th scope="col">Aktionen</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateCityModal">
                    Ort-Schnellerfassung
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/CityDatabase/CreateCityModal.cshtml", new CityParameterModel())