@model Sammlerplattform.Models.CityParameterModel

<div class="modal fade" id="CreateCityModal" tabindex="-1" aria-labelledby="CreateCityModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ort hinzufügen.
                    <br />
                    Für mehr Details z.B. alter Ortsname, gehen Sie zu <a asp-action="CreateCity" asp-controller="CityDatabase">Ortsverwaltung</a>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ui-front">
                <span id="createCitySpan" style="color: green"></span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Postalcode.PostalcodeNumber" class="form-control CityModalInputPostalcodeNumber" />
                    <label asp-for="Postalcode.PostalcodeNumber" class="form-label"></label>
                    <span asp-validation-for="Postalcode.PostalcodeNumber" class="text-danger"></span>
                </div>
                <div class="appendPostalcodeCreateCity"></div>
                <div class="form-floating pb-1">
                    <input asp-for="Oeconym.OeconymName" class="form-control CityModalInputOeconym" aria-label="Oeconym" id="Oeconym" />
                    <label asp-for="Oeconym.OeconymName" class="form-label"></label>
                    <span asp-validation-for="Oeconym.OeconymName" class="text-danger"></span>
                </div>                
                <div class="form-floating pb-1">
                    <input asp-for="City.Byname" class="form-control CityModalInputByname" aria-label="Beiname" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Betrifft z.B. Bad, Sankt, Hansestadt usw." />
                    <label asp-for="City.Byname" class="form-label"></label>
                    <span asp-validation-for="City.Byname" class="text-danger"></span>
                </div>
                <div class="form-floating pb-1">
                    <input asp-for="Geography.GeographyName" class="form-control CityModalInputGeographyName" aria-label="Beiname" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Betrifft z.B. Flüsse, Berge, Straße usw." />
                    <label asp-for="Geography.GeographyName" class="form-label"></label>
                    <span asp-validation-for="Geography.GeographyName" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                <input type="button" value="Erstellen" class="btn btn-primary createCitySubmitApiButton" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}