@model Sammlerplattform.Models.UserSettings.ChangeEMailModel
@{
    ViewData["Title"] = "E-Mail ändern";
    Layout = "_LayoutSettings";
    bool? RequirePassword = ViewData["RequirePassword"] as bool?;
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="ChangeEMailSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" disabled />
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                    </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" aria-required="true" disabled />
                    <label asp-for="Email" class="form-label"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
            }
            <div class="form-floating mb-3">
                <input asp-for="NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                <label asp-for="NewEmail" class="form-label"></label>
                <span asp-validation-for="NewEmail" class="text-danger"></span>
            </div>
            @if (RequirePassword != null && (bool)RequirePassword)
            {
                <div class="form-floating mb-3">
                    <input name="Password" class="form-control" type="password" aria-required="true" placeholder="Bitte Passwort eingeben." />
                    <label class="form-label">Passwort</label>
                </div>
            }
            <button type="submit" class="w-100 btn btn-lg btn-primary">Ändere E-Mail</button>
        </form>
    </div>
</div>
        
<a asp-action="Profile" asp-controller="UserSettings">Zurück zum Profil</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}