@model Sammlerplattform.Models.UserSettings.ChangePasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Sammlerplattform.Resources.SharedResources> Localizer

@{
    ViewData["Title"] = Localizer["Password_Change"];
    Layout = "_LayoutSettings";
}

<h3>@ViewData["Title"]</h3>

<form asp-action="ChangePasswordSubmit" asp-controller="account">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="form-label"></label>
        <input asp-for="OldPassword" placeholder="" class="form-control" autocomplete="current-password" aria-required="true" required />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" placeholder="" class="form-control" autocomplete="new-password" aria-required="true" minlength="12" required />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" placeholder="" class="form-control" autocomplete="new-password" aria-required="true" minlength="12" required />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">@Localizer["Edit"]</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
