@model Sammlerplattform.Models.UserSettings.UserWithPhoto
@{
    Layout = "_LayoutSettings";
    ViewData["Title"] = "Benutzerprofil";
}

<h3>@ViewData["Title"]</h3>
<hr />

<h5>Accountdetails</h5>

<div class="form-floating">
    <input asp-for="UsingIdentityUsers.Email" class="form-control" disabled />
    <label asp-for="UsingIdentityUsers.Email" class="form-label"></label>
    <span asp-validation-for="UsingIdentityUsers.Email" class="text-danger"></span>
</div>
<div class="btn-group mt-2 mb-3" role="group" aria-label="E-Mail oder Passwort ändern">
    <a type="button" asp-action="changeEMail" asp-controller="Account" class="btn btn-primary">E-Mail ändern</a>
    <a type="button" asp-action="ChangePassword" asp-controller="Account" class="btn btn-primary">Passwort ändern</a>
</div>

<form asp-action="ProfileChange">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UsingIdentityUsers.Email" />
    <div class="form-floating ">
        <input asp-for="UsingIdentityUsers.UserName" class="form-control" />
        <label asp-for="UsingIdentityUsers.UserName" class="form-label"></label>
        <span asp-validation-for="UsingIdentityUsers.UserName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Benutzername ändern</button>
</form>
<div class="mt-3">
    Ihr Account beinhaltet persönliche Daten, welche Sie uns gaben. Hier wird Ihnen ermöglicht diese Daten zu herunterzuladen oder zu löschen.
    <a asp-action="DownloadPersonalData" class="btn btn-primary">Accountdetails herunterladen</a>
</div>
<div class="mt-3 mb-5">
    <p>
        <strong>Diese Daten zu löschen, wird für immer Ihren Account löschen, ohne Widerruf.</strong>
    </p>
    <a id="delete" asp-action="DeletePersonalData" class="btn btn-danger">Account löschen</a>
</div>

<hr />
<h5>Abonnements</h5>
<p>Wählen Sie hier ihr Abonnement aus. Dies ermöglicht Ihnen den Speicherplatz oder/und das Analysetool zu nutzen.</p>
<a class="btn btn-primary" asp-controller="Payment" asp-action="Checkout" asp-route-email="@Model.UsingIdentityUsers.Email">Abonnements verwalten</a>
<p>Ihre derzeitige Beitragshöhe, falls Sie außerhalb der Probezeit sind. <h5>@ViewData["currentFee"]€</h5></p>
