<div class="modal fade" id="processOfManufactureModal" tabindex="-1" aria-labelledby="processOfManufactureModal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="processOfManufactureModalLabel">Wähle das Herstellungsverfahren</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ui-front">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputProcessOfManufactureSearch" placeholder="Herstellungsprozess" aria-label="Herstellungsprozess" />
                            <button class="btn btn-primary processOfManufactureSearchSubmit" type="button">Suchen</button>
                        </div>
                    </div>
                </div>
                <table class="table" id="processOfManufactureSearchResultTable">
                    <thead>
                        <tr>
                            <th scope="col">ProcessOfManufactureID</th>
                            <th scope="col">Hauptprozess</th>
                            <th scope="col">Herstellungsverfahren</th>
                            <th scope="col">Technik</th>
                            <th scope="col">Beschreibung</th>
                            <th scope="col">Aktionen</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>