@model OrganizationOperationParameterModel
@using Sammlerplattform.Models.PartyDatabase.OrganizationDatabase
@using Sammlerplattform.Models.PlaceDatabase

@{
    ViewData["Title"] = "Organisation ändern";
    Layout = "~/Views/Shared/_LayoutSettingsParty.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <form asp-action="EditSubmit" asp-controller="OrganizationDatabase">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Party.PartyID" type="hidden">
            <input asp-for="Party.PartyTypeInt" type="hidden">

            <div class="form-group">
                <label asp-for="Party.PartyName" class="control-label"></label>
                <input asp-for="Party.PartyName" class="form-control" />
                <span asp-validation-for="Party.PartyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Party.PartyDescription" class="control-label"></label>
                <textarea asp-for="Party.PartyDescription" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Party.PartyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization.OrganizationTypeInt" class="control-label"></label>
                @* <select asp-for="Organization.OrganizationTypeInt" class="form-select" aria-label="Organization Type">
                    <option value="">-- Bitte wählen --</option>
                    <option value="0">Unternehmen</option>
                    <option value="1">Institution</option>                    
                </select> *@
                <select asp-for="Organization.OrganizationTypeEnum"
                        asp-items="Html.GetEnumSelectList<OrganizationType>()"
                        class="form-select">
                    <option value="">-- Bitte wählen --</option>
                </select>
            </div>
            <div class="form-group" id="productionFacilityDiv">
                <label asp-for="Organization.ProductionFacility" class="control-label"></label>
                <input type="hidden" asp-for="Organization.ProductionFacilityID" id="hiddenProductionFacilityID">
                <select asp-for="Organization.ProductionFacilityID" id="inputProductionFacilityID" class="form-select" aria-label="Production Facility"></select>
            </div>
            <div class="mb-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Geografischer Name</th>
                            <th scope="col">Weitere Spezifikationen</th>
                            <th scope="col">Weitere Aktionen</th>
                        </tr>
                    </thead>
                    <tbody id="appendPlaceHere">
                        @if (Model.PlaceList.Count > 0)
                        {
                            for (int i = 0; i < Model.PlaceList.Count; i++)
                            {
                                var vm = PlaceViewModelHelper.FromDomainModel(Model.PlaceList[i]);
                                <tr class="placeTableRow">
                                    <td>@Html.Raw(vm.ToponymyHtml)</td>
                                    <td>@Html.Raw(vm.FurtherSpecs)</td>
                                    <td>
                                        <input type="hidden" name="PlaceList[@i].PlaceID" value="@Model.PlaceList[i].PlaceID">
                                        <button type="button" class="btn btn-danger btn-sm removePlaceRow">Entfernen</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#placeModal">
                    Orte hinzufügen
                </button>
            </div>
            <hr />
            <button class="btn btn-primary">Ändern</button>
        </form>
    </div>
</div>
<partial name="~/Views/PlaceDatabase/_PlaceModal.cshtml" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

